body{
background: linear-gradient(15deg, #142850, #14365f, #13476f, #125d80, #107792, #0d96a5, #09b8b4, #04ccb1);
h1 {
 color: white;
}
p {
  color: white;
}

button {
cursor: pointer
		}
button:hover {
background-color: #ffffff;
	        }
